<html>
<head>
<style>

</style>
</head>
<body>
<div class="main-cont">
<h2>Learn about APIs </h2>

<p>You can choose to read all about APIs or if reading paragraphs of information is boring, then you can taake the help of our bot. Simply ask our API bot what you want to know.</p>

<div class="horizontal">
<div class="column">
    <img src="/assets/images/back.png" alt="api image" class="img">
    <h4><a routerLink='/read'>Read more</a></h4>
</div>

<div class="column">
    <img src="/assets/images/bot.jpg" alt="api image" class="img">
    <h4><a routerLink='/chatbot'>Talk to me</a></h4>
</div>
</div>
</div>
</body>
</html>